<div class="navbar navbar-inverse navbar-fixed-top" id="topPage">

  <ul>

    <div class="nav navbar-nav">

      <li routerLinkActive="active" ><a routerLink="">Home</a></li>
      <li routerLinkActive="active">
        <a routerLink="/workouts-completed" (click)="woCompleted()">Total Workouts Completed: {{ zz }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/exercise-list" (click)="exList()">Exercise List</a>


          <li class="dropdown" appDropdown>
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;"(click)="onSaveData()">Save Data</a></li>
              <li><a style="cursor: pointer;"(click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>


    </div>
  </ul>





  <div id="wrapper" style="align-items: center;">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav navbar-inverse" >
        <div class="nav navbar-nav">
        <li>

        </div>
          <br />
          <br />
          <br />



        <li>

          <br />
          <br />
          <br />
          <p style="color: white; font-weight:bold;">Beginner Workout Completed
          <Button
            type="button"
            class="btn btn-success"
            style="margin: 5px"
            (click)="begWoComplete()"
            >ADD Workout:&nbsp;&nbsp; {{ x }}</Button
          ></p>


          <p style="color: white; font-weight:bold;">Intermediate Workout Completed
          <Button

            type="button"
            class="btn btn-success"
            style="margin: 5px"
            (click)="itermWoComplete()"
            >ADD Workout:&nbsp;&nbsp;{{ y }}</Button
          ></p>


          <p style="color: white; font-weight:bold;">Advanced Workout Completed
          <Button
            type="button"
            class="btn btn-success"
            style="margin: 10px"
            (click)="advWoComplete()"
            >Add Workout:&nbsp;&nbsp;{{ z }}</Button
          ></p>

        </li>
      </ul>
    </div>
  </div>

</div>
