@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.container{text-align: center;}
h2{padding: 10px};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
}

button{
  padding: 25px 30px;
  background-color: #8d989edf;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

button:hover{
    background: #03e9f4;
    color: #dde5d1;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#e{font-size: 24px;}
.delete {background-color: rgb(34, 0, 255);color: white; position:relative; font-size: 7px;letter-spacing: 1px; max-width: 10%; padding: 5px 5px;}
