
button{
  padding: 0px 0px;
  background-color: #1d9e21df;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

button:hover{
    background: #03f467;
    color: #dde5d1;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
