@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

h2{padding: 10px};
.container2{ display: -ms-inline-grid;
  grid-template-columns: 1fr 1fr;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #050801;
    font-family: 'Raleway', sans-serif;
}
h2{text-align: center;}
button{
  padding: 25px 30px;
  background-color: #4c5c64df;
  color: #03e9f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  width: 31.0%;
  text-align: center;

  box-shadow: -5px 15px 4px 0px rgba(0, 0, 0, 0.5);

}

button:hover{
    background: #03e9f4;
    color: #dde5d1;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);

}


